<h1>{{ title}}</h1>
<form [formGroup]="loginform" (ngSubmit)="login()">

<input type="text" id="un" formControlName="first" placeholder="Enter Employee First name"> <br><br>
<span *ngIf="user && user.invalid && user.touched" style="color:red">Input user is invalid</span> 

<input type="text" id="un" formControlName="last" placeholder="Enter Employee Second name"> <br><br>
<span *ngIf="user && user.invalid && user.touched" style="color:red">Input user is invalid</span>


<input type="password" id="pw" formControlName="password" placeholder="Enter Password"> <br><br>
<span *ngIf="password && password.invalid && password.touched" style="color:red">Invalid Password</span>
<input type="submit" value="Login"  [disabled]="loginform.invalid">
</form> 
