<h1>
    Welcome to Edubridge!!
  </h1>
  <table><tr *ngFor="let emp of emp1"><td>{{ emp }}</td></tr>
  </table>
  
  <input type="button" value="getEmp1" (click)="getEmp1()">
  
  <hr>
  <table><tr *ngFor="let emp of emp2"><td>{{ emp }}</td></tr>
  </table>
  <input type="button" value="getEmp2" (click)="getEmp2()">
  <hr>
  <table><tr *ngFor="let emp of emp3"><td>{{ emp }}</td></tr>
  </table>
  
  <input type="button" value="getEmp3" (click)="getEmp3()">
  <hr>
  <table><tr *ngFor="let emp of emp4"><td>{{ emp }}</td></tr>
  </table>
  
  <input type="button" value="getEmp4" (click)="getEmp4()">
  <hr>
  <table><tr *ngFor="let emp of emp5"><td>{{ emp }}</td></tr>
  </table>
  
  <input type="button" value="getEmp5" (click)="getEmp5()">
  <hr>